{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
		<li>
		<form class="form-inline my-2 my-lg-0" action="/search">
		      <div class="input-group">
				  <input name="q" type="text" class="form-control" placeholder="Search for Events" style="height: 42px; width: 200px"/>
				  <div class="input-group-append">
				    <button class="btn btn-dark" type="submit" id="button-addon2" style="color: black;">Search</button>
				  </div>
				</div>
		</form>
		</li>
	<h3 class="my-4 border-bottom pb-1" style="color: white">Places</h3>
	<div class="row">
		{% if data %}
			{% for cat in data %}
			<div class="col-md-3 mb-4" >
				<div class="card shadow">
				<a href="/category-product-list/{{cat.id}}"><img src="/media/{{cat.image}}" class="card-img-top" alt="{{cat.title}}" /></a>
				<div class="card-body">
					<h6 class="card-text"><a href="#", style="font-size: 18px; text-align: center; color: black">{{cat.title}}</a></h6>
				</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</main>
{% endblock %}